#experiences.block {
    background-color: var(--wp--preset--color--primary);
    color: var(--wp--preset--color--contrast);

    & .content {
        display: grid;
        gap: 3rem;

        & .container {
            position: relative;
            z-index: 4;
            display: grid;
            grid-template-rows: 1fr auto;
            overflow: hidden;
            border-radius: 0 !important;

            & .slideshow--wrapper {
                width: 100%;
                height: 100%;
                overflow: hidden;
                color: var(--wp--preset--color--contrast);
                position: relative;
                z-index: 5;

                & .slideshow {
                    height: 100%;
                    display: flex;

                    & .experience-item {
                        border: none;
                        opacity: 1;
                        display: block;

                        &.active {
                            & .experience-content {
                                opacity: 1;
                                transform: translateY(0) scale(1);
                                filter: blur(0);
                                transition: opacity .5s ease-out, transform .5s ease-out, filter .5s ease-out;

                                & h3 {
                                    transform: translateX(0);
                                }
                            }
                        }

                        & .experience-content {
                            opacity: 0;
                            transform: translateY(20px) scale(0.95);
                            filter: blur(4px);
                            overflow: hidden;
                            max-width: 400px;
                            margin-inline: auto;
                            transition: opacity .4s ease-in, transform .4s ease-in, filter .4s ease-in;

                            &>*:not(:last-child) {
                                margin-bottom: 1.5rem;
                            }
                        }
                    }
                }
            }

            & .slideshow-bullets-wrapper {
                max-height: 0;
                overflow: hidden;
            }
        }

        & .cta {
            &>*:not(:last-child) {
                margin-bottom: 1rem;
            }

            & p {
                font-size: var(--wp--preset--font-size--large);
                ;
            }
        }
    }
}

@media (width >=768px) {
    #experiences.block {
        & .content {
            grid-template-columns: 355px 1fr;
            gap: 5rem;
        }
    }
}