#guide.block {
    background-color: var(--wp--preset--color--base);
    color: var(--wp--preset--color--contrast);

    & .content {
        display: grid;
        gap: 3rem;

        & .container {
            position: relative;
            z-index: 4;
            display: grid;
            grid-template-rows: 1fr auto;
            box-shadow: var(--wp--preset--shadow--post-shadow-light);
            overflow: hidden;

            & .post__overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4rem;
                box-shadow: rgba(0, 0, 0, .15) 0 -2px 0 inset;
                z-index: 2;
                transition: transform .3s ease .3s;
            }

            & .slideshow--wrapper {
                width: 100%;
                height: 100%;
                overflow: hidden;
                color: var(--wp--preset--color--contrast);
                position: relative;
                z-index: 5;

                & .slideshow {
                    height: 100%;
                    display: flex;

                    & .guide-item {
                        opacity: 1;

                        &.active {
                            & .guide-content {
                                opacity: 1;
                                filter: blur(0);
                                transition: opacity .3s ease-in, transform .3s ease-in, filter .3s ease-in;
                            }
                        }

                        & .guide-content {
                            opacity: 0;
                            filter: blur(4px);
                            overflow: hidden;
                            transition: opacity .3s ease-in, transform .3s ease-in, filter .3s ease-in;

                            & .size-full {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
            }

            & .slideshow-bullets-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .5rem;
                z-index: 5;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;

                & .btn-pagination {
                    background-color: transparent;
                    color: var(--wp--preset--color--contrast);
                    opacity: .5;
                    transition: opacity .3s ease, transform .3s ease;

                    &:hover {
                        background-color: transparent;
                        opacity: 1;
                    }
                }

                & .slideshow-bullets {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    & .bullet {
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        background-color: transparent;
                        border: 2px solid var(--wp--preset--color--contrast);
                        transition: background-color .3s ease;

                        &.active {
                            background-color: var(--wp--preset--color--contrast);
                        }
                    }
                }
            }
        }

        & .guide-content {
            &>*:not(.span-tag, :last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}

@media (width >=1200px) {
    #guide.block {
        & .content {
            grid-template-columns: 1fr 455px;
            gap: 5rem;
        }
    }
}