#hero {
    background-color: var(--wp--preset--color--tertiary);
    display: grid;
    align-items: center;
    position: relative;

    & .content.wide {
        position: relative;
        z-index: 2;

        & .hero-content--text {
            & .span-pretext {
                font-size: clamp(.8rem, 2vw, 1.5rem);
                text-transform: uppercase;
                font-weight: 800;
                letter-spacing: 2px;
            }

            & .page-title {
                font-size: clamp(2rem, 5vw, 6rem);
                line-height: 1.2;
            }

            & ul {
                padding-left: 0;
                list-style: none;
            }

            & .cta-buttons {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: .5rem;
                margin-top: clamp(3rem, 5vw, 5rem);

                /* & .btn.primary.large {
                    font-size: clamp(1rem, 2vw, 2rem);
                    padding: clamp(.125rem, 2vw, 1rem) clamp(1rem, 2vw, 2rem);
                    height: auto;
                    gap: clamp(.5rem, 2vw, 1.5rem);

                    & svg {
                        width: clamp(.8rem, 2vw, 1.5rem);
                        height: clamp(.8rem, 2vw, 1.5rem);
                    }


                } */
            }
        }
    }
}