#hero {
    background-color: var(--wp--preset--color--tertiary);
    display: grid;
    align-items: center;
    position: relative;

    & .content.wide {
        position: relative;
        z-index: 2;

        & .hero-content--text {
            & .span-pretext {
                font-size: clamp(.8rem, 2vw, 1.5rem);
                text-transform: uppercase;
                font-weight: 800;
                letter-spacing: 2px;
            }

            & .page-title {
                font-size: clamp(2rem, 5vw, 6rem);
                line-height: 1.2;
            }

            & ul {
                padding-left: 0;
                list-style: none;
            }

            & .cta-buttons {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: .5rem;
                margin-top: clamp(3rem, 5vw, 5rem);

                /* & .btn.primary.large {
                    font-size: clamp(1rem, 2vw, 2rem);
                    padding: clamp(.125rem, 2vw, 1rem) clamp(1rem, 2vw, 2rem);
                    height: auto;
                    gap: clamp(.5rem, 2vw, 1.5rem);

                    & svg {
                        width: clamp(.8rem, 2vw, 1.5rem);
                        height: clamp(.8rem, 2vw, 1.5rem);
                    }


                } */
            }
        }
    }

    & .content.about {
        display: grid;
        gap: 3rem;

        & .container {
            z-index: 4;
            display: grid;
            grid-template-rows: 1fr auto;
            box-shadow: var(--wp--preset--shadow--post-shadow-light);
            overflow: hidden;
            aspect-ratio: 16 / 9;

            & .post__overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4rem;
                box-shadow: rgba(0, 0, 0, .15) 0 -2px 0 inset;
                z-index: 2;
                transition: transform .3s ease .3s;
            }

            & .slideshow--wrapper {
                width: 100%;
                height: 100%;
                overflow: hidden;
                color: var(--wp--preset--color--contrast);
                position: relative;
                z-index: 5;

                & .slideshow {
                    height: 100%;
                    display: flex;

                    & .about-item {
                        opacity: 1;

                        &.active {
                            & .about-content {
                                opacity: 1;
                                filter: blur(0);
                                transition: opacity .3s ease-in, transform .3s ease-in, filter .3s ease-in;
                            }
                        }

                        & .about-content {
                            opacity: 0;
                            filter: blur(4px);
                            overflow: hidden;
                            transition: opacity .3s ease-in, transform .3s ease-in, filter .3s ease-in;

                            & .size-full {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
            }

            & .slideshow-bullets-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .5rem;
                z-index: 5;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;

                & .btn-pagination {
                    background-color: transparent;
                    color: var(--wp--preset--color--base);
                    opacity: .5;
                    transition: opacity .3s ease, transform .3s ease;

                    &:hover {
                        background-color: transparent;
                        opacity: 1;
                    }
                }

                & .slideshow-bullets {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    & .bullet {
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        background-color: transparent;
                        border: 2px solid var(--wp--preset--color--base);
                        transition: background-color .3s ease;

                        &.active {
                            background-color: var(--wp--preset--color--base);
                        }
                    }
                }
            }
        }

        & .about-content {
            & .title-section {
                font-size: clamp(2rem, 2vw, 4rem);
                font-family: var(--wp--preset--font-family--manrope);
            }

            & .subtitle-section {
                margin-top: clamp(3rem, 5vw, 5rem);
                font-size: clamp(1rem, 2vw, 1.65rem);
                font-family: var(--wp--preset--font-family--manrope);
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 2px;

                & strong {
                    font-weight: 700;
                }

                & u {
                    text-decoration: underline;
                }
            }

            & .logos {
                margin-top: clamp(2rem, 2vw, 3rem);
                display: grid;
                grid-template-columns: 1fr;
                align-items: center;
                gap: 1px;
                border-top: 1px solid var(--wp--preset--color--secondary);
                background: linear-gradient(var(--wp--preset--color--secondary), var(--wp--preset--color--tertiary));

                & .logo-wrapper {
                    display: grid;
                    place-content: center;
                    aspect-ratio: 16 / 9;
                    background-color: var(--wp--preset--color--tertiary);

                    & .logo {
                        width: 70%;
                        height: auto;
                        margin-inline: auto;
                    }
                }
            }

            & .numbers {
                display: grid;
                grid-template-columns: 1fr;
                align-items: normal;
                gap: 1px;
                background: linear-gradient(var(--wp--preset--color--secondary), var(--wp--preset--color--tertiary));
                margin-top: 1rem;

                & .number {
                    padding: clamp(1.25rem, 2vw, 3rem);
                    background-color: var(--wp--preset--color--tertiary);
                    text-align: center;

                    & .number-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .5rem;

                        & .number-value-counter,
                        & .postfix {
                            font-size: clamp(2rem, 2vw, 5rem);
                            font-family: var(--wp--preset--font-family--manrope);
                            font-weight: 700;
                        }
                    }

                    & .number-label {
                        font-size: clamp(1rem, 1vw, 1.3rem);
                        font-family: var(--wp--preset--font-family--manrope);
                        font-weight: 500;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
}

@media (width >=768px) {
    #hero.block {
        & .content.about {
            & .about-content {

                & .logos,
                & .numbers {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}

@media (width >=1024px) {
    #hero.block {
        & .content.about {
            grid-template-columns: 1fr 1fr;
            gap: 2rem;

            & .container {
                position: sticky;
                top: 3rem;
            }
        }
    }
}

@media (width >=1440px) {
    #hero.block {
        & .content.about {
            & .about-content {

                & .logos,
                & .numbers {
                    grid-template-columns: repeat(4, 1fr);
                }
            }
        }
    }
}