#metodology {
    background-color: var(--wp--preset--color--tertiary);
    padding-bottom: 3rem;

    & .content:has(.container.cards) {
        background-color: var(--wp--preset--color--base);
        box-shadow: var(--wp--preset--shadow--post-shadow);
        padding-left: 3rem;
        padding-right: 3rem;

        & .container.cards {
            margin-top: 2rem;
        }
    }
}