.site-main {
    & .block {
        & .content {
            padding: 5rem 0;

            & .title-section {
                font-size: clamp(1.5rem, 2.5vw, 2.5rem);
                line-height: 1.2;
            }
        }
    }
}