section.block.posts--body.container--related-posts {
    background-color: var(--wp--preset--color--tertiary);
    padding: 3rem 0;
    padding-bottom: 1rem;
    display: grid;

    & .content {
        &.related-posts--title {
            & h2.title-section {
                text-align: center;
            }
        }

        &.slideshow-wrapper {
            width: var(--max-width--content);
            padding: 2rem 0;
        }
    }
}