body {
    background-color: var(--wp--preset--color--background);
    color: var(--wp--preset--color--contrast);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}

.block:has(>.content) {
    width: 100%;

    & .content {
        width: var(--max-width--content);
        margin-inline: auto;
    }
}

/* .cpt:not(:has(.breadcrumbs--wrapper)), */
.post:not(:has(.breadcrumbs--wrapper)) {
    position: relative;
    opacity: 0;
    transform: translateY(4rem);
    padding: .1rem;

    &.animate-in {
        animation: animate-in--post .3s ease-in-out forwards;
    }

    & .post-body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100%;
        border: 1px solid var(--wp--preset--color--line);
        transition: box-shadow .3s ease;

        &:hover {
            box-shadow: 0 0 0 2px var(--wp--preset--color--button);
        }

        & .post-body__header:not(:has(.wp-post-image, .gallery-wrapper, video)) {
            display: none;
        }

        & .post-body__header {
            overflow: hidden;
            aspect-ratio: 3 / 2;
            position: relative;
            padding: .5rem;
            padding-bottom: 0;

            &>img {
                width: 100%;
                height: calc(100% - .5rem);
                object-fit: cover;
            }

            & .post-video-wrapper {
                position: relative;
                width: 100%;
                height: calc(100% - .5rem);

                & video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            & .gallery-wrapper {
                height: calc(100% - .5rem);
                background-color: var(--wp--preset--color--tertiary);
                box-shadow: inset 0 0 7px var(--wp--preset--color--primary-alpha-50);
            }

            & .post-audio-wrapper {
                position: relative;
                overflow: hidden;
                height: 46px;
                background-color: light-dark(var(--wp--preset--color--tertiary), var(--wp--preset--color--tertiary-night));

                & audio {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;

                    &::-webkit-media-controls-panel {
                        background-color: light-dark(var(--wp--preset--color--tertiary), var(--wp--preset--color--tertiary-night));
                    }
                }
            }

            & .post--permalink {
                position: absolute;
                top: 1rem;
                right: 1rem;
                z-index: 1;
                background-color: #ffffff80;
                backdrop-filter: blur(10px);

                &:has(~ .gallery-wrapper) {
                    top: 1.5rem;
                    right: 1.5rem;
                }

                &:hover {
                    background-color: #ffffffc0;
                }

                &:focus-visible {
                    outline: none;
                    background-color: var(--wp--preset--color--focus);
                    color: var(--wp--preset--color--base);
                }
            }

            & .post--tags {
                position: absolute;
                z-index: 1;
                width: calc(100% - 1rem);
                top: 1rem;
                gap: .188rem;
                flex-wrap: nowrap;
                overflow-x: auto;
                scrollbar-gutter: stable;
                padding: .1rem 0;
                padding-left: .5rem;
                padding-right: 1rem;

                &::-webkit-scrollbar {
                    height: .375rem;
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                    transition: background-color .3s ease;
                }

                &:has(~ .gallery-wrapper) {
                    z-index: 1;
                    top: 1.4rem;
                    left: 1rem;
                }

                &:has(~ .post-audio-wrapper) {
                    left: .5rem;
                }

                & .post-tag {
                    background-color: #ffffff80;
                    backdrop-filter: blur(10px);

                    &:focus-visible {
                        outline: none;
                        background-color: var(--wp--preset--color--focus);
                        color: var(--wp--preset--color--base);
                    }

                    &.small {
                        font-size: var(--wp--preset--font-size--small);
                    }

                    &:hover {
                        background-color: #ffffffc0;
                    }
                }
            }

            & .location {
                position: absolute;
                bottom: calc(64px + 1rem);
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                width: fit-content;
                max-width: calc(100% - 3rem);
                display: -webkit-box;
                overflow: hidden;
                font-size: var(--wp--preset--font-size--small);
                background-color: #ffffff80;
                backdrop-filter: blur(10px);

                & svg {
                    position: relative;
                    top: 2px;
                    width: 13px;
                    height: 13px;
                }
            }
        }

        &:not(:has(.post-body__header)) {
            grid-template-rows: 1fr auto;

            & .post-body__content {
                display: grid;
                grid-template-rows: 1fr auto;
            }
        }

        & .post-body__content {
            display: grid;
            grid-template-rows: auto 1fr auto;
            padding: 0 .5rem;

            &:not(:has(.post--excerpt)) {
                grid-template-rows: 1fr auto;

                &:has(.price) {
                    grid-template-rows: 1fr auto;
                    grid-template-columns: auto 1fr;

                    & .post--permalink {
                        grid-column: 1 / -1;
                    }

                    & .date {
                        grid-column: 1 / 2;
                        grid-row: 2 / 3;
                    }

                    & .price {
                        text-align: right;
                    }
                }
            }

            &:not(:has(.post--excerpt)) {
                grid-template-rows: 1fr auto;
            }

            & .post--permalink {
                transition: color .3s ease;

                &:hover {
                    color: var(--wp--preset--color--button);
                }

                &:focus-visible {
                    outline: none;
                    color: var(--wp--preset--color--focus);
                }

                & .post--title {
                    font-size: var(--wp--preset--font-size--large);
                    padding-top: .5rem;
                }
            }

            & .post--excerpt {
                padding-top: .5rem;
                font-size: var(--wp--preset--font-size--small);
            }

            & .post--date {
                padding: .5rem 0;
                font-size: var(--wp--preset--font-size--small);

                & svg {
                    width: .8rem;
                    height: .8rem;
                }
            }
        }

        & .post-body__footer {
            display: flex;
            align-items: center;
            overflow: hidden;
            height: 3rem;
            position: relative;
            padding-left: .5rem;

            &:has(.post--tags .post-tag, .post--metadata .metadata-list) {
                border-top: .063rem dashed var(--wp--preset--color--accent-6);
            }

            & .post--tags {
                position: absolute;
                width: 100%;
                top: .5rem;
                gap: .188rem;
                flex-wrap: nowrap;
                overflow-x: auto;
                scrollbar-gutter: stable;
                padding: .1rem 0;
                padding-right: 1.5rem;
                mask-image: linear-gradient(to right, black 80%, transparent 100%);

                &::-webkit-scrollbar {
                    height: .375rem;
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                    transition: background-color .3s ease;
                }

                & .post-tag {
                    font-size: var(--wp--preset--font-size--small);
                }
            }

            &:hover .post--tags::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, .3);
            }

            &:has(.container) {
                padding: 0;
                padding-left: .5rem;

                &:hover .post--metadata::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, .3);
                }

                & .post--metadata {
                    flex: 1;
                    position: relative;
                    height: 48px;
                    overflow-x: scroll;
                    scrollbar-gutter: stable;
                    mask-image: linear-gradient(to right, black 80%, transparent 100%);

                    &::-webkit-scrollbar {
                        height: .375rem;
                        background: transparent;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: transparent;
                        transition: background-color .3s ease;
                    }

                    & ul {
                        padding-left: 0;
                        padding-right: 2rem;
                        list-style: none;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        top: .7rem;
                        left: 0;

                        & li {
                            text-wrap: nowrap;
                            white-space: nowrap;

                            & svg {
                                margin-right: .5rem;
                            }

                            &:not(:last-child) {
                                margin-right: 1rem;
                            }
                        }
                    }
                }

                &:has(.container .btn) {
                    padding-right: .5rem;

                    & .container {
                        position: relative;

                        &::before {
                            position: absolute;
                            content: '';
                            bottom: 0;
                            left: -47px;
                            width: 47px;
                            height: 100%;
                            background: linear-gradient(to left,
                                    light-dark(var(--wp--preset--color--background), var(--wp--preset--color--background-night)) 0%,
                                    transparent 100%);
                            z-index: 1;
                        }

                        .btn {
                            height: 30px;

                            &:not(:last-child) {
                                margin-right: .25rem;
                            }
                        }
                    }

                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
}

.post:not(:has(.breadcrumbs--wrapper)) {
    min-height: 400px;
    padding: 0;

    &:is(.format-video, .format-gallery, .format-image, .format-standard) {
        &:has(.post_body) {
            box-shadow: rgba(0, 0, 0, 0.125) 0px 54px 55px, rgba(0, 0, 0, 0.06) 0px -12px 30px, rgba(0, 0, 0, 0.06) 0px 4px 6px, rgba(0, 0, 0, 0.085) 0px 12px 13px, rgba(0, 0, 0, 0.045) 0px -3px 5px;
            transition: box-shadow .3s ease;
        }

        &:is(.format-video) {
            &:hover {
                & .post_body {
                    & .post_body__overlay {
                        transform: translateY(-80px);
                    }

                    & .post_body__backdrop {
                        max-height: calc(100% - 80px);
                    }

                    &::before,
                    &::after {
                        max-height: calc(100% - 80px);
                    }

                    & .post_body__content {
                        transform: translateY(-80px);
                    }
                }
            }

            & .post_body {
                & .post_body__content {
                    transform: translateY(-80px);
                }
            }
        }

        &:is(.format-gallery) {
            &:hover {
                & .post_body {
                    & .post_body__content {
                        background-color: #ffffff80;
                        backdrop-filter: blur(.5rem);
                    }
                }
            }
        }

        &:hover {
            &:has(.post_body) {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }

            & .post_body {
                & .post_body__backdrop {
                    opacity: 1;
                }

                & .post_body__overlay {
                    background: linear-gradient(to bottom, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.644));
                }

                & .gallery-wrapper {
                    & .gallery-navigation {
                        opacity: 1;
                    }
                }

                & .post_body__header {
                    &::before {
                        opacity: 1;
                    }

                    & .button__like {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }

                & .post_body__content {
                    gap: 1rem;

                    & :is(.post--tags, .post--date, .post_body__permalink) {
                        opacity: 1;
                    }

                    & .post--author {
                        max-height: 30px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        & .post_body {
            position: relative;
            height: 100%;
            display: grid;
            align-items: end;

            & :is(.post-thumbnail, .post-video-wrapper video, .gallery-wrapper) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 0;
            }

            & .post_body__backdrop {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: #ffffff80;
                backdrop-filter: blur(.5rem);
                opacity: 0;
                transition: opacity .3s ease, max-height .3s ease;
            }

            &::before,
            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                max-height: 100%;
                border: 2px solid light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849));
                mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849)), light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 50%);
                mask-position: 0 0;
                transition: mask-position .3s ease, max-height .3s ease;
                z-index: 3;
            }

            &::after {
                height: calc(100% - 2px);
                max-height: calc(100% - 2px);
                mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 76%, light-dark(hsla(0, 0%, 100%, 0.644), hsla(0, 0%, 100%, 0.644)));
            }

            & .post_body__header {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 10rem;
                padding: 1rem;
                z-index: 4;

                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 10rem;
                    background: linear-gradient(to top, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.25));
                    opacity: 0;
                    transition: opacity .3s ease;
                }

                & .format-post-tag {
                    position: absolute;
                    top: 0;
                    left: 1.5rem;
                    background: #FD1D1D;
                    background: linear-gradient(-180deg, rgba(179, 0, 0, 1) 0%, rgba(130, 13, 0, 1) 59%);
                    color: white;
                    padding: .5rem;
                    padding-top: 1rem;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
                    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2)) drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
                }

                & .button__like {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    gap: 0;
                    padding: 0;
                    border-radius: 0;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    font-size: var(--wp--preset--font-size--small);
                    font-weight: 600;
                    color: inherit;
                    width: fit-content;
                    transition: all .3s ease;
                    opacity: 0;
                    transform: translateX(8px);

                    & svg {
                        width: 1rem;
                        height: 1rem;
                        transition: transform 0.3s ease, fill 0.3s ease;
                    }

                    &.liked {
                        color: var(--wp--preset--color--contrast);
                        opacity: 1;
                        background-color: #ffffff80;
                        backdrop-filter: blur(.5rem);
                        padding: .5rem;
                        gap: .5rem;
                        transform: translateX(0);

                        & svg {
                            fill: #e63946;
                        }
                    }

                    &.is-loading {
                        opacity: 0.7;
                        pointer-events: none;

                        & svg {
                            animation: pulse 1s infinite;
                        }
                    }

                    & .like-count {
                        min-width: 1ch;
                    }
                }
            }

            & .post_body__content {
                position: relative;
                padding: 1rem;
                z-index: 4;
                display: grid;
                gap: 0;
                transition: gap .3s ease;

                & .post--tags {
                    flex-wrap: wrap;
                    gap: .3rem;
                    transition: opacity .3s ease;
                    opacity: 0;

                    & .post-tag {
                        font-size: var(--wp--preset--font-size--small);
                        line-height: 1;
                        background-color: #ffffff80;
                        backdrop-filter: blur(.5rem);
                        font-weight: 600;
                        gap: 3px;
                        transition: background-color .3s ease;
                        padding: .3rem;

                        &:hover {
                            background-color: #ffffffbc;
                        }

                        & svg {
                            width: 11px;
                            height: 11px;
                        }
                    }
                }

                & .post--date {
                    font-size: var(--wp--preset--font-size--small);
                    line-height: 1;
                    position: relative;
                    transform: translateY(.7rem);
                    transition: opacity .3s ease;
                    opacity: 0;

                    & svg {
                        width: 13px;
                        height: 13px;
                    }
                }

                & .post_body__permalink {
                    opacity: 0;
                    transition: color .3s ease, opacity .3s ease;

                    &:hover {
                        color: var(--wp--preset--color--focus);
                    }

                    & .post--title {
                        font-size: var(--wp--preset--font-size--large);
                        line-height: 1.3;
                    }
                }

                & .post--author {
                    display: grid;
                    grid-template-columns: 30px 1fr;
                    grid-template-rows: auto auto;
                    gap: 0 .5rem;
                    opacity: 0;
                    transition: opacity .3s ease, max-height .3s ease, visibility .3s ease;
                    height: 30px;
                    max-height: 0;
                    overflow: hidden;
                    visibility: hidden;

                    & .avatar {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        corner-shape: round;
                        grid-column: 1 / 2;
                        grid-row: 1 / 3;
                    }

                    & .author-name {
                        line-height: 1;
                        grid-column: 2 / 3;
                        grid-row: 1 / 2;
                        font-size: var(--wp--preset--font-size--small);
                    }

                    & .author-description {
                        line-height: 1;
                        grid-column: 2 / 3;
                        grid-row: 2 / 3;
                        font-size: calc(var(--wp--preset--font-size--small) - .125rem);
                        align-self: end;
                    }
                }
            }
        }
    }

    &:is(.format-standard, .format-video) {
        & .post_body {
            & .post_body__overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 15rem;
                max-height: 15rem;
                box-shadow: rgba(0, 0, 0, .15) 0 -2px 0 inset;
                z-index: 2;
                transition: max-height .3s ease, transform .3s ease;
            }
        }
    }

    &:is(.format-standard) {
        & .post_body {
            & .post_body__overlay {
                background: linear-gradient(to bottom, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.644));
            }

            & .post_body__content {
                & .post_body__permalink {
                    opacity: 1;
                }
            }
        }
    }

    &:is(.format-image) {
        & .post_body {
            & .post_body__overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 15rem;
                max-height: 15rem;
                box-shadow: rgba(0, 0, 0, .15) 0 -2px 0 inset;
                z-index: 2;
                transition: max-height .3s ease;
            }
        }
    }

    &:is(.format-gallery) {
        & .post_body {
            & .gallery-wrapper {
                position: relative;
                height: 100%;

                &::before {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4rem;
                    box-shadow: rgba(0, 0, 0, .15) 0 -2px 0 inset;
                    z-index: 2;
                    transition: max-height .3s ease;
                }

                & .gallery-navigation {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: calc(100% - 2rem);
                    transform: translate(1rem, -1rem);
                    z-index: 2;
                    padding: 2px;
                    padding-top: 0;
                    background-color: #ffffff80;
                    backdrop-filter: blur(.5rem);
                    opacity: .5;
                    transition: opacity .3s ease;

                    & .btn-pagination {
                        background-color: transparent;
                    }
                }
            }

            &::before {
                height: 50%;
            }

            &::after {
                content: none;
            }

            & .post_body__content {
                transform: translate(1rem, -81px);
                width: calc(100% - 2rem);
                transition: background-color .3s ease, backdrop-filter .3s ease;
            }
        }
    }

    &:is(.format-audio) {
        position: relative;

        &:has(.post_footer) {
            display: grid;
            grid-template-rows: 1fr 3rem;
            gap: 1rem;
        }

        &:hover {
            & .post_body {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.12) 0px 12px 13px, rgba(0, 0, 0, 0.12) 0px -3px 5px;

                & .post_body__header {
                    &::before {
                        opacity: 1 !important;
                    }

                    & .button__like {
                        opacity: 1 !important;
                        transform: translateX(0) !important;
                    }
                }

                & .post_body__content {
                    opacity: 1;
                }
            }
        }

        & .post_body {
            position: relative;
            box-shadow: rgba(0, 0, 0, 0.125) 0px 54px 55px, rgba(0, 0, 0, 0.06) 0px -12px 30px, rgba(0, 0, 0, 0.06) 0px 4px 6px, rgba(0, 0, 0, 0.085) 0px 12px 13px, rgba(0, 0, 0, 0.045) 0px -3px 5px;
            display: grid;
            height: 100%;
            transition: box-shadow .3s ease;

            & .post-thumbnail {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 0;
            }

            & .post_body__overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4rem;
                max-height: 4rem;
                box-shadow: rgba(0, 0, 0, .15) 0 -2px 0 inset;
                z-index: 1;
            }

            &::before,
            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                max-height: 100%;
                border: 2px solid light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849));
                mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0.849), hsla(0, 0%, 100%, 0.849)), light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 50%);
                mask-position: 0 0;
                transition: mask-position .3s ease, max-height .3s ease;
                z-index: 2;
            }

            &::after {
                height: calc(100% - 2px);
                max-height: calc(100% - 2px);
                mask-image: linear-gradient(135deg, light-dark(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)) 76%, light-dark(hsla(0, 0%, 100%, 0.644), hsla(0, 0%, 100%, 0.644)));
            }

            & .post_body__header {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 10rem;
                padding: 1rem;
                z-index: 4;

                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 10rem;
                    background: linear-gradient(to top, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.75));
                    opacity: 0;
                    transition: opacity .3s ease;
                }

                & .format-post-tag {
                    position: absolute;
                    top: 0;
                    left: 1.5rem;
                    background: #FD1D1D;
                    background: linear-gradient(-180deg, rgba(179, 0, 0, 1) 0%, rgba(130, 13, 0, 1) 59%);
                    color: white;
                    padding: .5rem;
                    padding-top: 1rem;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
                    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2)) drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
                }

                & .button__like {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    gap: 0;
                    padding: 0;
                    border-radius: 0;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    font-size: var(--wp--preset--font-size--small);
                    font-weight: 600;
                    color: inherit;
                    width: fit-content;
                    transition: all .3s ease;
                    opacity: 0;
                    transform: translateX(8px);

                    & svg {
                        width: 1rem;
                        height: 1rem;
                        transition: transform 0.3s ease, fill 0.3s ease;
                    }

                    &.liked {
                        color: var(--wp--preset--color--contrast);
                        opacity: 1;
                        background-color: #ffffff80;
                        backdrop-filter: blur(.5rem);
                        padding: .5rem;
                        gap: .5rem;
                        transform: translateX(0);

                        & svg {
                            fill: #e63946;
                        }
                    }

                    &.is-loading {
                        opacity: 0.7;
                        pointer-events: none;

                        & svg {
                            animation: pulse 1s infinite;
                        }
                    }

                    & .like-count {
                        min-width: 1ch;
                    }
                }
            }

            & .post_body__content {
                z-index: 4;
                padding: 1rem;
                background-color: #ffffff80;
                backdrop-filter: blur(.5rem);
                width: calc(100% - 2rem);
                transform: translate(1rem, -1rem);
                height: fit-content;
                align-self: end;
                text-align: center;
                opacity: 0;
                transition: opacity .3s ease;

                & .post--title {
                    font-size: var(--wp--preset--font-size--medium);
                    margin-bottom: 1rem;
                }

                & .post-audio-wrapper {
                    & audio {
                        width: 100%;
                    }
                }
            }
        }

        & .post_footer {
            display: flex;
            align-items: center;
            overflow: hidden;
            position: relative;
            padding-left: .5rem;
            background-color: var(--wp--preset--color--base);
            box-shadow: rgba(0, 0, 0, .15) 0 -2px 0 inset, rgba(0, 0, 0, 0.125) 0px 54px 55px, rgba(0, 0, 0, 0.06) 0px -12px 30px, rgba(0, 0, 0, 0.06) 0px 4px 6px, rgba(0, 0, 0, 0.085) 0px 12px 13px, rgba(0, 0, 0, 0.045) 0px -3px 5px;

            & .post--tags {
                position: absolute;
                width: 100%;
                top: .5rem;
                gap: .188rem;
                flex-wrap: nowrap;
                overflow-x: auto;
                scrollbar-gutter: stable;
                padding: .1rem 0;
                padding-right: 1.5rem;
                mask-image: linear-gradient(to right, black 80%, transparent 100%);

                &::-webkit-scrollbar {
                    height: .375rem;
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                    transition: background-color .3s ease;
                }

                & .post-tag {
                    font-size: var(--wp--preset--font-size--small);
                }
            }

            &:hover .post--tags::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, .3);
            }
        }
    }

    &:is(.format-quote, .format-aside) {
        display: grid;
        grid-template-rows: 1fr auto;
        gap: .5rem;

        & .post_body {
            display: grid;
            grid-template-rows: 1fr auto;
            gap: .5rem;

            & .post--date {
                font-size: var(--wp--preset--font-size--small);

                & svg {
                    width: 13px;
                    height: 13px;
                }
            }
        }

        & .post_footer {
            display: grid;
            grid-template-columns: 3rem 1fr auto;
            align-items: center;
            background-color: var(--wp--preset--color--base);
            height: 3rem;
            box-shadow: rgba(0, 0, 0, .15) 0 -2px 0 inset, rgba(0, 0, 0, 0.125) 0px 54px 55px, rgba(0, 0, 0, 0.06) 0px -12px 30px, rgba(0, 0, 0, 0.06) 0px 4px 6px, rgba(0, 0, 0, 0.085) 0px 12px 13px, rgba(0, 0, 0, 0.045) 0px -3px 5px;

            & .format-type {
                position: relative;
                height: 3rem;

                & .format-post-tag {
                    position: absolute;
                    top: 0;
                    right: 5px;
                    background: #FD1D1D;
                    background: linear-gradient(-180deg, rgba(179, 0, 0, 1) 0%, rgba(130, 13, 0, 1) 59%);
                    color: white;
                    padding: .5rem;
                    padding-top: 1rem;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
                    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2)) drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
                }
            }

            & .post--tags__wrapper {
                display: flex;
                align-items: center;
                overflow: hidden;
                height: 3rem;
                position: relative;
                padding-left: .5rem;

                & .post--tags {
                    position: absolute;
                    width: 100%;
                    top: .5rem;
                    gap: .188rem;
                    flex-wrap: nowrap;
                    overflow-x: auto;
                    scrollbar-gutter: stable;
                    padding: .1rem 0;
                    padding-right: 1.5rem;
                    mask-image: linear-gradient(to right, black 80%, transparent 100%);

                    &::-webkit-scrollbar {
                        height: .375rem;
                        background: transparent;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: transparent;
                        transition: background-color .3s ease;
                    }

                    & .post-tag {
                        font-size: var(--wp--preset--font-size--small);
                    }
                }

                &:hover .post--tags::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, .3);
                }
            }

            & .button__like {
                display: flex;
                align-items: center;
                gap: 0;
                padding: 0 .5rem;
                padding-left: 1.5rem;
                border-radius: 0;
                border: none;
                background-color: transparent;
                cursor: pointer;
                transition: all 0.3s ease;
                font-size: var(--wp--preset--font-size--small);
                font-weight: 600;
                color: inherit;
                width: fit-content;
                transition: all .3s ease;

                & svg {
                    width: 1rem;
                    height: 1rem;
                    transition: transform 0.3s ease, fill 0.3s ease;
                }

                &.liked {
                    color: var(--wp--preset--color--contrast);
                    opacity: 1;
                    gap: .5rem;

                    & svg {
                        fill: #e63946;
                    }
                }

                &.is-loading {
                    opacity: 0.7;
                    pointer-events: none;

                    & svg {
                        animation: pulse 1s infinite;
                    }
                }

                & .like-count {
                    min-width: 1ch;
                }
            }
        }
    }
}

.btn-pagination {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: grid;
    place-content: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--wp--preset--color--tertiary);
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    background-image: linear-gradient(-60deg, transparent, transparent 40%, #ffffff44 40%, #ffffff44 60%, transparent 60%, transparent 100%);
    background-size: 200% 100%;
    background-position-x: 150%;
    background-repeat: no-repeat;

    &:hover {
        cursor: pointer;
        background-position-x: -150%;
        transition: all 1s;
        background-color: var(--wp--preset--color--secondary);
    }

    & svg {
        width: 1.6rem;
        height: 1.6rem;
    }

    &.small-pagination {
        width: 3rem;
        height: 3rem;

        & svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &:active {
        transform: scale(.8);
    }

    &:focus-visible {
        outline: none;
        background-color: var(--wp--preset--color--focus);
        color: var(--wp--preset--color--base);
    }
}

.post--tags {
    display: flex;
    gap: 0.5rem;
}

.post-tag {
    display: inline-flex;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    padding: 0.125rem 0.5rem;
    background-color: var(--wp--preset--color--tertiary);
    transition: all .3s ease;
    background-image: linear-gradient(-60deg, transparent, transparent 40%, #ffffff44 40%, #ffffff44 60%, transparent 60%, transparent 100%);
    background-size: 200% 100%;
    background-position-x: 150%;
    background-repeat: no-repeat;

    &:hover {
        cursor: pointer;
        background-position-x: -150%;
        transition: all 1s;
        background-color: var(--wp--preset--color--secondary);
    }

    &:active {
        transform: translateY(.063rem);
    }

    &:focus-visible {
        outline: none;
        background-color: var(--wp--preset--color--focus);
        color: var(--wp--preset--color--base);
    }
}

& :is(.loop-gallery-bullets, .related-bullets) {
    color: var(--wp--preset--color--bullet-active);

    & .bullet {
        background-color: var(--wp--preset--color--bullet);
        display: grid;
        width: .625rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: none;
        transition: background-color .3s ease;

        &.active {
            background-color: var(--wp--preset--color--bullet-active);
        }

        &:focus-visible {
            outline: none;
            background-color: var(--wp--preset--color--focus);
        }
    }
}

.stories-block-search__inside-wrapper {
    position: relative;

    & .stories-block-search__button {
        position: absolute;
        top: .125rem;
        right: .125rem;
        height: 2.625rem;
        width: 2.625rem;
        padding: 0;
        display: grid;
        place-content: center;
        background-color: transparent;
        border: none;
        color: inherit;
        transition: background-color .3s ease;

        &:hover {
            background-color: light-dark(var(--wp--preset--color--tertiary), var(--wp--preset--color--tertiary-night));
        }

        &:focus-visible {
            outline: none;
            background-color: var(--wp--preset--color--focus);
            color: var(--wp--preset--color--base);
        }
    }
}

.social {
    & .menu {
        display: flex;
        align-items: center;
        gap: 2rem;

        & li {
            & a {
                position: relative;
                display: grid;
                font-size: 0;

                &::before {
                    position: relative;
                    content: '';
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    transition: background-color .3s ease-in-out;
                    background-color: currentColor;
                }

                &:hover {
                    &::before {
                        background-color: var(--wp--preset--color--primary);
                    }
                }

                &:focus-visible {
                    outline: none;

                    &::before {
                        background-color: var(--wp--preset--color--focus);
                    }
                }
            }
        }
    }
}

.glass-backdrop {
    background-color: light-dark(var(--wp--preset--color--base-alpha-50), var(--wp--preset--color--base-alpha-50-night));
    backdrop-filter: blur(1rem);
}

@keyframes animate-in--post {
    from {
        opacity: 0;
        transform: translateY(4rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*
 * =========================================================================
 * ROUNDED
 * =========================================================================
 */

.post-body {
    border-radius: 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;

    & .post-body__footer {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        &::after {
            border-bottom-right-radius: 1rem;
        }
    }
}

.post:not(:has(.breadcrumbs--wrapper)) {
    &:is(.format-video, .format-gallery, .format-image, .format-audio, .format-standard) {
        border-radius: 1.5rem;

        & .post_body {
            & :is(.post-thumbnail, .post-video-wrapper video, .gallery-wrapper) {
                border-radius: 1.5rem;
            }

            & .post_body__backdrop {
                border-radius: 1.5rem;
            }

            & .post_body__overlay {
                border-bottom-left-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
            }

            &::before {
                border-top-left-radius: 1.5rem;
                border-top-right-radius: 1.5rem;
            }

            &::after {
                border-bottom-left-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
            }

            & .post_body__header {
                &::before {
                    border-top-left-radius: 1.5rem;
                    border-top-right-radius: 1.5rem;
                }

                & .button__like {
                    border-radius: .5rem;
                }
            }

            & .gallery-wrapper {
                &::before {
                    border-bottom-left-radius: 1.5rem;
                    border-bottom-right-radius: 1.5rem;
                }

                & .gallery {
                    & .slide {
                        border-radius: 1rem;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    &:is(.format-gallery) {
        & .post_body {
            & .post_body__content {
                border-radius: 1rem;
            }

            & .gallery-wrapper {
                & .gallery-navigation {
                    border-radius: 1rem;
                }
            }
        }
    }

    &:is(.format-audio) {
        & .post_body {
            border-radius: 1.5rem;

            & .post_body__header {
                & .button__like {
                    border-radius: .5rem;
                }
            }

            & .post_body__content {
                border-radius: 1rem;
            }
        }

        & .post_footer {
            border-radius: 1rem;
        }
    }

    &:is(.format-quote, .format-aside) {
        & .post_footer {
            border-radius: 1rem;
        }
    }
}

.main-navigation {
    border-radius: 14px;
}

/* .gallery-wrapper,
.post-gallery-slide img,
.btn-pagination,
.post-body__header .wp-post-image,
.post-video-wrapper video,
.attachment-full.size-full.wp-post-image,
.post--author,
.post-audio-wrapper,
.is-layout-constrained .wp-block-video video {
    border-radius: 1rem;
} */

.main-navigation .glass-backdrop,
.main-navigation>.menu {
    border-radius: 13px;
}

.post-tag,
.btn-pagination.small-pagination,
.page-numbers,
input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="hidden"]):not([type="range"]):not([type="color"]),
textarea,
select,
.btn,
#submit,
.wpcf7-submit,
.wp-element-button,
.latest-post__body,
/* .slide .attachment-loop-thumbnail, */
.latest-post-thumbnail-wrapper .wp-post-image,
.post-gallery-thumb img,
.post--author .avatar {
    border-radius: .5rem;
}

#searchsubmit,
.stories-block-search__button,
.main-navigation ul li a {
    border-radius: 6px;
}

.site-main {
    & .block {
        &:has(.properties--filter) {
            & .properties--filter {
                & ul {
                    & li {
                        & .number-input-wrapper {
                            button {
                                border-radius: .5rem;
                            }
                        }
                    }
                }

                & .property-filter-form {
                    & .menu-flex {
                        & :is(.menu-flex--type, .menu-flex--operation) {
                            & .filter-property {
                                & [type="checkbox"]:checked+label:after {
                                    border-radius: .5rem;
                                }
                            }
                        }
                    }

                    & .filter-navigation.menu {
                        &>.menu-item-has-children {
                            &:is(.state, .rooms, .price, .size) {
                                &>.sub-menu {
                                    border-radius: 1rem;

                                    & .menu-item-has-children {
                                        & .wrapper-for-title {
                                            border-radius: .45rem;

                                            &:hover {
                                                background-color: #ffffff !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

input[type="checkbox"]:not(:checked)+label:before,
input[type="checkbox"]:checked+label:before {
    border-radius: 5px;
}

input[type="checkbox"]:not(:checked)+label:after,
input[type="checkbox"]:checked+label:after {
    border-radius: 3px;
}

body.is-chromium {
    .post-body {
        border-radius: 2rem;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        corner-shape: squircle;

        & .post-body__footer {
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            corner-shape: squircle;

            &::after {
                border-bottom-right-radius: 2rem;
                corner-shape: squircle;
            }
        }
    }

    & .post:not(:has(.breadcrumbs--wrapper)) {
        &:is(.format-video, .format-gallery, .format-image, .format-audio, .format-standard) {
            border-radius: 3rem;
            corner-shape: squircle;

            & .post_body {
                & :is(.post-thumbnail, .post-video-wrapper video, .gallery-wrapper) {
                    border-radius: 3rem;
                    corner-shape: squircle;
                }

                & .post_body__backdrop {
                    border-radius: 3rem;
                    corner-shape: squircle;
                }

                & .post_body__overlay {
                    border-bottom-left-radius: 3rem;
                    border-bottom-right-radius: 3rem;
                    corner-shape: squircle;
                }

                & .post_body__header {
                    &::before {
                        border-top-left-radius: 3rem;
                        border-top-right-radius: 3rem;
                        corner-shape: squircle;
                    }

                    & .button__like {
                        border-radius: 1rem;
                        corner-shape: squircle;
                    }
                }

                & .gallery-wrapper {
                    &::before {
                        border-bottom-left-radius: 3rem;
                        border-bottom-right-radius: 3rem;
                        corner-shape: squircle;
                    }

                    & .gallery {
                        & .slide {
                            border-radius: 3rem;
                            corner-shape: squircle;
                        }
                    }

                    & .gallery-navigation {
                        border-radius: 3rem;
                        corner-shape: squircle;
                    }
                }

                &::before {
                    border-top-left-radius: 3rem;
                    border-top-right-radius: 3rem;
                    corner-shape: squircle;
                }

                &::after {
                    border-bottom-left-radius: 3rem;
                    border-bottom-right-radius: 3rem;
                    corner-shape: squircle;
                }
            }
        }

        &:is(.format-gallery) {
            & .post_body {
                & .post_body__content {
                    border-radius: 2rem;
                    corner-shape: squircle;
                }
            }
        }

        &:is(.format-audio) {
            & .post_body {
                border-radius: 3rem;
                corner-shape: squircle;

                & .post_body__content {
                    border-radius: 2rem;
                    corner-shape: squircle;
                }
            }

            & .post_footer {
                border-radius: 2rem;
                corner-shape: squircle;
            }
        }

        &:is(.format-quote, .format-aside) {
            & .post_footer {
                border-radius: 2rem;
                corner-shape: squircle;
            }
        }
    }

    .post-gallery-wrapper {
        border-radius: 3rem;
        corner-shape: squircle;
    }

    .main-navigation {
        border-radius: 24px;
        corner-shape: squircle;
    }

    /* .gallery-wrapper, */
    .post-gallery-slide img,
    .btn-pagination,
    .post-body__header .wp-post-image,
    .post-video-wrapper video,
    .attachment-full.size-full.wp-post-image,
    .post--author,
    .post-audio-wrapper,
    .is-layout-constrained .wp-block-video video {
        border-radius: 2rem;
        corner-shape: squircle;
    }

    .main-navigation .glass-backdrop,
    .main-navigation>.menu {
        border-radius: 22px;
        corner-shape: squircle;
    }

    .post-tag,
    .btn-pagination.small-pagination,
    .page-numbers,
    input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="hidden"]):not([type="range"]):not([type="color"]),
    textarea,
    select,
    .btn,
    #submit,
    .wpcf7-submit,
    .wp-element-button,
    .latest-post__body,
    /* .slide .attachment-loop-thumbnail, */
    .latest-post-thumbnail-wrapper .wp-post-image,
    .post-gallery-thumb img,
    .post--author .avatar {
        border-radius: 1.3rem;
        corner-shape: squircle;
    }

    & #searchsubmit,
    .stories-block-search__button,
    .main-navigation ul li a {
        border-radius: 18px;
        corner-shape: squircle;
    }

    .site-main {
        & .block {
            &:has(.properties--filter) {
                & .properties--filter {
                    & ul {
                        & li {
                            & .number-input-wrapper {
                                button {
                                    border-radius: 1rem;
                                    corner-shape: squircle;
                                }
                            }
                        }
                    }

                    & .property-filter-form {
                        & .menu-flex {
                            & :is(.menu-flex--type, .menu-flex--operation) {
                                & .filter-property {
                                    & [type="checkbox"]:checked+label:after {
                                        border-radius: 1.3rem;
                                        corner-shape: squircle;
                                    }
                                }
                            }
                        }

                        & .filter-navigation.menu {
                            &>.menu-item-has-children {
                                &:is(.state, .rooms, .price, .size) {
                                    &>.sub-menu {
                                        border-radius: 2rem;
                                        corner-shape: squircle;

                                        & .menu-item-has-children {
                                            & .wrapper-for-title {
                                                border-radius: .9rem;
                                                corner-shape: squircle;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    & input[type="checkbox"]:not(:checked)+label:before,
    & input[type="checkbox"]:checked+label:before {
        border-radius: 10px;
        corner-shape: squircle;
    }

    & input[type="checkbox"]:not(:checked)+label:after,
    & input[type="checkbox"]:checked+label:after {
        border-radius: 6px;
        corner-shape: squircle;
    }
}